
.login {
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
  max-width: 320px;
  margin: 0 auto 100px;
  padding: 15px 20px;
  text-align: center;
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  box-shadow: 0 0px 10px #2ca8ff !important;
 
 
}
form img{
    width: 50%;
    margin-bottom: 5%;
    padding: 5%;
}
form input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: rgba(0,0,0,.0);
  border: 1px;
  border-bottom: 1px solid #14BACE;
  color: #737373;
  width: 100%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  font-size: 20px;
}
form input:focus {
  border-bottom:2px solid #4caf50;
}
form input[type="submit"]{
   border: 1px solid #14BACE;
   box-shadow: 0 0px 10px #14BACE !important;
   background: #14BACE;
   cursor:pointer;
    color:white;
}

form input[type="submit"]:hover,.form input[type="submit"]:active,.form input[type="submit"]:focus {
  color: #14BACE;
  background: rgba(255,255,255,.2);
  border:1px solid #14BACE;
}
.bordes{
	border-bottom:1px solid #D2D2D2;
}


