.booklet {
    width: 900px;
    height: 607px;
    position: relative;
    margin: 0 auto 10px;
    -moz-box-shadow: 0px 0px 1px #fff;
    -webkit-box-shadow: 0px 0px 1px #fff;
    box-shadow: 0px 0px 1px #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

    .booklet .b-wrap-left {
        background: #fff url(../IMG/left_bg.jpg) no-repeat top left !important;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .booklet .b-wrap-right {
        background: #efefef url(../IMG/right_bg.jpg) no-repeat top left !important;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .booklet .b-counter {
        bottom: 10px !important;
        position: absolute !important;
        display: block !important;
        width: 90% !important;
        height: 20px !important;
        border-top: 1px solid #ddd !important;
        color: #222 !important;
        text-align: center !important;
        font-size: 12px !important;
        padding: 5px 0 0 !important;
        background: transparent !important;
        -moz-box-shadow: 0px -1px 1px #fff !important;
        -webkit-box-shadow: 0px -1px 1px #fff !important;
        box-shadow: 0px -1px 1px #fff !important;
        opacity: 0.8 !important;
    }

.book_wrapper {
    margin: 0 auto;
    padding-top: 50px;
    width: 905px;
    height: 100%;
    position: relative;
    background: transparent url(../IMG/bg.png) no-repeat 9px 27px;
}

    .book_wrapper h1 {
        color: orange;
        margin: 5px 5px 5px 15px;
        font-size: 24px;
        background: transparent url(../IMG/h1.png) no-repeat bottom left;
        padding-bottom: 7px;
        text-transform: uppercase;
        font-weight: normal;
    }

    .book_wrapper p {
        font-size: 15px;
        margin: 5px 5px 5px 15px;
    }

    .book_wrapper img {
        margin: 10px 0px 5px 35px;
        width: 300px;
        padding: 4px;
        border: 1px solid #ddd;
        -moz-box-shadow: 1px 1px 1px #fff;
        -webkit-box-shadow: 1px 1px 1px #fff;
        box-shadow: 1px 1px 1px #fff;
    }


.booklet .b-wrap-right img {
    border: 1px solid #E6E3C2;
}



a#next_page_button,
a#prev_page_button {
    display: none;
    position: absolute;
    width: 41px;
    height: 40px;
    cursor: pointer;
    margin-top: -20px;
    top: 50%;
    background: transparent url(../IMG/buttons.png) no-repeat 0px -40px;
}

a#prev_page_button {
    left: -30px;
}

a#next_page_button {
    right: -30px;
    background-position: -41px -40px;
}

    a#next_page_button:hover {
        background-position: -41px 0px;
    }

a#prev_page_button:hover {
    background-position: 0px 0px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.err {
    border: 1px solid #ed5565;
    box-shadow: none;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 55%;
    margin: 0 auto;
    margin-left: 10%;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

    span.round-tab i {
        color: #555555;
    }

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}

    .wizard li.active span.round-tab i {
        color: #5bc0de;
    }

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

/*@media( max-width:585px) {
    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}*/
